.card {
  max-width: 350px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.4;
}

.marker-list__item {
  font-family: "Helvetica", "Arial", sans-serif;
  margin-bottom: 2rem;
}

.marker-list__item::marker {
  content: "\2714\0020  ";
  color: #4ac1bb;
  font-size: 1.5em;
}
